.close-icon {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 20px;
    right: 15px;
}

.header-section-login .logo-icon {
    width: 207px;
    height: 43px;
}

.header-section-recovery .logo-icon {
    width: 148.8px;
    height: 31px;
}