.close-icon {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 20px;
    right: 15px;
}

.header-section-login .logo-icon {
    width: 207px;
    height: 43px;
}

.header-section-recovery .logo-icon {
    width: 148.8px;
    height: 31px;
}

.sms-icon {
    width: 153px;
    height: 153px;
    margin-bottom: 3em;
}

.logo-icon-small {
    width: 96px;
    height: 20px;
}

.menu-icon {
    width: 25px;
    height: 21px;
}

.shopping-cart {
    /* width: 30px;
    height: 27px; */
    width: 25px;
    height: 21px;
}

.search-icon {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 12px;
    top: 12px;
}

.add_to_card {
    width: 40px;
    height: 40px;
    margin-top: .2em;
    z-index: 2;
}