:root {
    --background-color: #F2F2F2;
    --dark: #232830;
    --black: #000;
    --hospital-green: #ACD9B2;
    --very-light-pink: #C7C7C7;
    --white: #fff;
    --text-input: #F7F7F7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.login-section, .header-section {
    text-align: center;
}

.header-section {
    margin-top: 10em;
    margin-bottom: 2em;
}

.login-section__label {
    font-size: 1.2rem;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 0.5em;
}

.login-section__input {
    width: 90%;
    background-color: var(--text-input);
    color: #797979;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 0.8em 0.7em;
    border-radius: 7px;
    border: none;
    margin-bottom: 1em;
}

.login-section__input:focus-visible {
    outline: none;
}

.section-down {
    /* height: 44vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 3em; */
}

.general-button {
    width: 90%;
    min-width: 288px;
    padding: 1em;
    border-radius: 10px;
    font-size: 1.4rem;
    border: 1px solid var(--hospital-green);
}

.green--btn {
    background-color: var(--hospital-green);
    color: var(--white);
}

.white--btn {
    background-color: var(--white);
    color: var(--hospital-green);
}

.login-section__message {
    display: inline-block;
    font-size: 1.2rem;
    color: var(--hospital-green);
    margin-top: 3em;
}

.login-section .green--btn {
    margin-top: 1.5em;
}

.section-down .white--btn {
    margin-bottom: 3em;
}
