:root {
    --background-color: #F2F2F2;
    --dark: #232830;
    --black: #000;
    --hospital-green: #ACD9B2;
    --very-light-pink: #C7C7C7;
    --white: #fff;
    --text-input: #F7F7F7;
    --soft-blue: #3498DB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
}

.wrapper-login {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.login-section, .header-section-login, .wrapper-recovery {
    text-align: center;
}

.header-section-login {
    margin-top: 10em;
    margin-bottom: 4em;
}

.login-section__label {
    float: left;
    margin-left: 1.5em;
    font-size: 1.2rem;
    font-weight: 700;
    /* display: inline-block; */
    margin-bottom: 0.5em;
}

.general-input {
    width: 90%;
    background-color: var(--text-input);
    color: #797979;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 0.8em 0.7em;
    border-radius: 7px;
    border: none;
}

.login-section__input {
    margin-bottom: 1em;
}

.general-input:focus-visible {
    outline: none;
}

.section-down {
    width: 100%;
    text-align: center;
}

.general-button {
    width: 90%;
    min-width: 288px;
    padding: 1em;
    border-radius: 10px;
    font-size: 1.4rem;
    border: 1px solid var(--hospital-green);
}

.green--btn {
    background-color: var(--hospital-green);
    color: var(--white);
}

.white--btn {
    background-color: var(--white);
    color: var(--hospital-green);
}

.general-message-link {
    display: inline-block;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 3em;
}

.green__message {
    color: var(--hospital-green);
}

.grey__message {
    color: #797979;
}

a.grey__message:hover, a.green__message:hover {
    text-decoration: underline;
    color: var(--soft-blue);
}

.login-section .green--btn {
    margin-top: 1.5em;
}

.section-down .white--btn {
    margin-bottom: 3em;
}


/* Pass Recovery section */

.header-section-recovery {
    margin-top: 7em;
    margin-bottom: 5em;
}

.recovery-text {
    margin: 1em auto;
    margin-bottom: 2em;
    font-size: 1.4rem;
    width: 80%;
    color: #797979;
}

.login-section__recovery {
    margin-bottom: 2em;
}