<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MarketShop</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/icon-styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Roboto:wght@700&display=swap" rel="stylesheet">
    <script src="../js/script.js"></script>
</head>
<body>
    <header class="header-home-section">
        <nav class="header-home-nav">
            <img class="menu-icon" src="../assets/icons/menu-icon.svg" alt="menu icon">
            <a href="../index.html"><img class="logo-icon-small" src="../assets/icons/logo.svg" alt="logo of the webpage"></a>
            <img class="shopping-cart" src="../assets/icons/shopping-cart.svg" alt="icon of a shopping cart">
        </nav>
        <div class="general-input center-search">
            <img class="search-icon" src="../assets/icons/search-icon.svg" alt="search icon">
            <input id="search-input" class="header-home-section__search" type="text" placeholder="Search product">
        </div>
        <ul id="home-nav" class="header-home-section__list">
            <li class="header-home-section__list-option selected">All</li>
            <li class="header-home-section__list-option">Clothes</li>
            <li class="header-home-section__list-option">Electronics</li>
            <li class="header-home-section__list-option">Furniture</li>
            <li class="header-home-section__list-option">Toys</li>
        </ul>
        <span class="header-home-section__text">Order:</span> 
        <select class="header-home-section__order" name="" id="">
            <option selected value="mostRecent">Most recent</option>
            <option value="mostBought">Most popular</option>
            <option value="ascendentOrder">Ascendent order</option>
        </select>
    </header>
    <div class="wrapper-home">
        <main class="article-section">
            <article class="article-section-item">
                <div class="article-section-item__img">
                    <img class="image-product" src="../assets/img/round_shelf.jpeg" alt="image product">
                </div>
                <div class="article-section-item__content">
                    <div class="card-text">
                        <span class="grey__message price-product">$120,00</span>
                        <span class="green__message name-product">Round shelf</span>
                    </div>
                    <img class="add_to_card" src="../assets/icons/add_to_cart.svg" alt="image product">
                </div>
            </article>
            <article class="article-section-item">
                <div class="article-section-item__img">
                    <img class="image-product" src="../assets/img/bitmap.jpeg" alt="image product">
                </div>
                <div class="article-section-item__content">
                    <div class="card-text">
                        <span class="grey__message price-product">$185,00</span>
                        <span class="green__message name-product">Retro refrigerator</span>
                    </div>
                    <img class="add_to_card" src="../assets/icons/add_to_cart.svg" alt="image product">
                </div>
            </article>
            <article class="article-section-item">
                <div class="article-section-item__img">
                    <img class="image-product" src="../assets/img/round_shelf.jpeg" alt="image product">
                </div>
                <div class="article-section-item__content">
                    <div class="card-text">
                        <span class="grey__message price-product">$120,00</span>
                        <span class="green__message name-product">Round shelf</span>
                    </div>
                    <img class="add_to_card" src="../assets/icons/add_to_cart.svg" alt="image product">
                </div>
            </article>
            <article class="article-section-item">
                <div class="article-section-item__img">
                    <img class="image-product" src="../assets/img/bitmap.jpeg" alt="image product">
                </div>
                <div class="article-section-item__content">
                    <div class="card-text">
                        <span class="grey__message price-product">$185,00</span>
                        <span class="green__message name-product">Retro refrigerator</span>
                    </div>
                    <img class="add_to_card" src="../assets/icons/add_to_cart.svg" alt="image product">
                </div>
            </article>
            <article class="article-section-item">
                <div class="article-section-item__img">
                    <img class="image-product" src="../assets/img/round_shelf.jpeg" alt="image product">
                </div>
                <div class="article-section-item__content">
                    <div class="card-text">
                        <span class="grey__message price-product">$120,00</span>
                        <span class="green__message name-product">Round shelf</span>
                    </div>
                    <img class="add_to_card" src="../assets/icons/add_to_cart.svg" alt="image product">
                </div>
            </article>
            <article class="article-section-item">
                <div class="article-section-item__img">
                    <img class="image-product" src="../assets/img/bitmap.jpeg" alt="image product">
                </div>
                <div class="article-section-item__content">
                    <div class="card-text">
                        <span class="grey__message price-product">$185,00</span>
                        <span class="green__message name-product">Retro refrigerator</span>
                    </div>
                    <img class="add_to_card" src="../assets/icons/add_to_cart.svg" alt="image product">
                </div>
            </article>
        </main>
    </div>
</body>
</html>