<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MarketShop</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/icon-styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Roboto:wght@700&display=swap" rel="stylesheet">
    <script src="../js/script.js"></script>
</head>
<body>
    <div id="js-menu-tab" class="menu-tab">
        <img onclick="hideMenu()" class="close-icon" src="../assets/icons/x-icon.svg" alt="close icon">
        <div>
            <h2 class="menu-tab__tittle">CATEGORIES</h2>
            <ul class="menu-tab__main-list">
                <li class="menu-tab__main-list__item">All</li>
                <li class="menu-tab__main-list__item">Clothes</li>
                <li class="menu-tab__main-list__item">Electronics</li>
                <li class="menu-tab__main-list__item">Furnitures</li>
                <li class="menu-tab__main-list__item">Toys</li>
                <li class="menu-tab__main-list__item">Others</li>
            </ul>
            <ul class="menu-tab__logged">
                <li class="menu-tab__logged__item"><a class="style-no-link" href="./my-orders.html">My orders</a></li>
                <li class="menu-tab__logged__item"><a class="style-no-link" href="./my-account.html">My account</a></li>
            </ul>
        </div>
        <div>
            <span class="menu-tab__email">stivenb1994@gmail.com</span>
            <a href="../index.html" class="menu-tab__loggin">Sign out</a>
        </div>
    </div>
    <div id="js-shopping-card-tab" class="shopping-card-tab">
        <div id="js-shopping-container-items" class="shopping-card-top"></div> <!-- section where insert the items -->
        <div class="shopping-card-bottom">
            <div class="shopping-card-total">
                <span class="login-section__label shopping-card-total__text">Total</span>
                <span id="js-shopping-total" class="price-product shopping-card-total__price">$ 0.00</span>
            </div>
            <button id="checkout-btn" class="general-button green--btn">
                Checkout
            </button>
        </div>
    </div>
    <header class="header-home-section">
        <nav class="header-home-nav">
            <img class="menu-icon" onclick="showMenu()" src="../assets/icons/menu-icon.svg" alt="menu icon">
            <a id="js-link-logo" href="../index.html"><img class="logo-icon-small" src="../assets/icons/logo.svg" alt="logo of the webpage"></a>
            <h2 id="js-tittle-logo" class="hide-logo">Shopping cart</h2>
            <img class="shopping-cart" onclick="showShoppingCard()" src="../assets/icons/shopping-cart.svg" alt="icon of a shopping cart">
        </nav>
        <div class="general-input center-search search-home-section">
            <img class="search-icon" src="../assets/icons/search-icon.svg" alt="search icon">
            <input id="search-input" class="header-home-section__search" type="text" placeholder="Search product">
        </div>
        <ul id="home-nav" class="header-home-section__list">
            <li onclick="handleHomeList(this)" class="header-home-section__list-option selected">All</li>
            <li onclick="handleHomeList(this)" class="header-home-section__list-option">Clothes</li>
            <li onclick="handleHomeList(this)" class="header-home-section__list-option">Electronics</li>
            <li onclick="handleHomeList(this)" class="header-home-section__list-option">Furniture</li>
            <li onclick="handleHomeList(this)" class="header-home-section__list-option">Toys</li>
            <li onclick="handleHomeList(this)" class="header-home-section__list-option">Others</li>
        </ul>
        <span class="header-home-section__text">Order:</span> 
        <select class="header-home-section__order" name="" id="">
            <option selected value="mostRecent">Most recent</option>
            <option value="mostBought">Most popular</option>
            <option value="ascendentOrder">Ascendent order</option>
        </select>
    </header>
    <div class="wrapper-home">
        <main class="article-section">
            <article data-product="n3200" class="article-section-item">
                <div class="article-section-item__img">
                    <img class="image-product" src="../assets/img/round_shelf.jpeg" alt="image product">
                </div>
                <div class="article-section-item__content">
                    <div class="card-text">
                        <span class="grey__message price-product">$120,00</span>
                        <span class="green__message name-product">Round shelf</span>
                    </div>
                    <div class="circle-border"></div>
                    <img class="add_to_card" onclick="addToCardBtn(this)" src="../assets/icons/add_to_cart.svg" alt="image product">
                </div>
            </article>
            <article data-product="n3201" class="article-section-item">
                <div class="article-section-item__img">
                    <img class="image-product" src="../assets/img/bitmap.jpeg" alt="image product">
                </div>
                <div class="article-section-item__content">
                    <div class="card-text">
                        <span class="grey__message price-product">$185,00</span>
                        <span class="green__message name-product">Retro refrigerator</span>
                    </div>
                    <div class="circle-border"></div>
                    <img class="add_to_card" onclick="addToCardBtn(this)" src="../assets/icons/add_to_cart.svg" alt="image product">
                </div>
            </article>
            <article data-product="n3202" class="article-section-item">
                <div class="article-section-item__img">
                    <img class="image-product" src="../assets/img/round_shelf.jpeg" alt="image product">
                </div>
                <div class="article-section-item__content">
                    <div class="card-text">
                        <span class="grey__message price-product">$120,00</span>
                        <span class="green__message name-product">Round shelf</span>
                    </div>
                    <div class="circle-border"></div>
                    <img class="add_to_card" onclick="addToCardBtn(this)" src="../assets/icons/add_to_cart.svg" alt="image product">
                </div>
            </article>
            <article data-product="n3203" class="article-section-item">
                <div class="article-section-item__img">
                    <img class="image-product" src="../assets/img/bitmap.jpeg" alt="image product">
                </div>
                <div class="article-section-item__content">
                    <div class="card-text">
                        <span class="grey__message price-product">$185,00</span>
                        <span class="green__message name-product">Retro refrigerator</span>
                    </div>
                    <div class="circle-border"></div>
                    <img class="add_to_card" onclick="addToCardBtn(this)" src="../assets/icons/add_to_cart.svg" alt="image product">
                </div>
            </article>
            <article data-product="n3204" class="article-section-item">
                <div class="article-section-item__img">
                    <img class="image-product" src="../assets/img/round_shelf.jpeg" alt="image product">
                </div>
                <div class="article-section-item__content">
                    <div class="card-text">
                        <span class="grey__message price-product">$120,00</span>
                        <span class="green__message name-product">Round shelf</span>
                    </div>
                    <div class="circle-border"></div>
                    <img class="add_to_card" onclick="addToCardBtn(this)" src="../assets/icons/add_to_cart.svg" alt="image product">
                </div>
            </article>
            <article data-product="n3205" class="article-section-item">
                <div class="article-section-item__img">
                    <img class="image-product" src="../assets/img/bitmap.jpeg" alt="image product">
                </div>
                <div class="article-section-item__content">
                    <div class="card-text">
                        <span class="grey__message price-product">$185,00</span>
                        <span class="green__message name-product">Retro refrigerator</span>
                    </div>
                    <div class="circle-border"></div>
                    <img class="add_to_card" onclick="addToCardBtn(this)" src="../assets/icons/add_to_cart.svg" alt="image product">
                </div>
            </article>
        </main>
    </div>
</body>
</html>