<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MarketShop</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/icon-styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Roboto:wght@700&display=swap" rel="stylesheet">
    <script src="../js/script.js"></script>
    <link rel="shortcut icon" href="../assets/icons/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="wrapper-login">
        <header class="header-my-order">
            <nav class="header-home-nav nav--my-orders">
                <img class="menu-icon" src="../assets/icons/menu-icon.svg" alt="menu icon">
                <a class="style-no-link" href="./home.html"><h2>My order</h2></a>
                <img class="shopping-cart" src="../assets/icons/shopping-cart.svg" alt="icon of a shopping cart">
            </nav>
        </header>
        <main class="my-orders-section">
            <article class="shopping-card-item my-orders__item my-orders__item--special">
                <div class="part-up">
                    <span class="my-orders__item__date price-product">04.25.2021</span>
                    <span class="my-orders__item__amount">6 articles</span>
                </div>
                <div class="back-container part-down">
                    <span class="price-product">$ 560.00</span>
                </div>
            </article>
            
            <article class="shopping-card-item">
                <div class="front-container">
                    <div class="image-border">
                        <img class="image-shopping-card" src="../assets/img/round_shelf.jpeg" alt="image of product">
                    </div>
                    <span class="name-product">Round shelf</span>
                </div>
                <div class="back-container">
                    <span class="price-product">$ 120,00</span>
                </div>
            </article>
            <article class="shopping-card-item">
                <div class="front-container">
                    <div class="image-border">
                        <img class="image-shopping-card" src="../assets/img/round_shelf.jpeg" alt="image of product">
                    </div>
                    <span class="name-product">Round shelf</span>
                </div>
                <div class="back-container">
                    <span class="price-product">$ 120,00</span>
                </div>
            </article>
            <article class="shopping-card-item">
                <div class="front-container">
                    <div class="image-border">
                        <img class="image-shopping-card" src="../assets/img/round_shelf.jpeg" alt="image of product">
                    </div>
                    <span class="name-product">Round shelf</span>
                </div>
                <div class="back-container">
                    <span class="price-product">$ 120,00</span>
                </div>
            </article>
            <article class="shopping-card-item">
                <div class="front-container">
                    <div class="image-border">
                        <img class="image-shopping-card" src="../assets/img/round_shelf.jpeg" alt="image of product">
                    </div>
                    <span class="name-product">Round shelf</span>
                </div>
                <div class="back-container">
                    <span class="price-product">$ 120,00</span>
                </div>
            </article>
            <article class="shopping-card-item">
                <div class="front-container">
                    <div class="image-border">
                        <img class="image-shopping-card" src="../assets/img/round_shelf.jpeg" alt="image of product">
                    </div>
                    <span class="name-product">Round shelf</span>
                </div>
                <div class="back-container">
                    <span class="price-product">$ 120,00</span>
                </div>
            </article>
        </main>
    </div>
</body>
</html>
